<% layout('_inc/layout') -%>

<section class="overlay" id="overlay">
	<div class="container">
		
		<div class="v-align">
			<div class="v-align__cell">

				<a class="overlay__close" id="js-overlay-close">
					<img src="img/close-round.svg" alt="">
				</a>

				<h1>View one of our examples</h1>

				<ul class="list--inline">
					<li>
						<a href="http://apple.co/1QNUVFB" title="View the iOS Example">
							<img src="img/apple-logo.svg" alt="Apple Logo">
							in the App Store
						</a>
					</li>
					<li>
						<a href="http://bit.ly/1PrTgab" title="View the Android Example">
							<img src="img/android-logo.svg" alt="Android Logo">
							on Google Play
						</a>
					</li>
					<li>
						<a href="http://app.upfit.co" title="View the Web Example">
							<img src="img/earth.svg" alt="Web Icon">
							on the Web
						</a>
					</li>
				</ul>

			</div>
		</div>

	</div>
</section>

<div class="container">
	
	<div class="v-align">
		<div class="v-align__cell">
		
			<section class="content-wrapper">
				<div class="promo">
					<a href="https://whitespell.com" title="Whitespell Website">
						<div class="promo__logo">
							<img src="img/whitespell-logo-white.svg" alt="Whitespell Logo" />
						</div>
						Whitespell Presents
					</a>
				</div>

				<h1>Turn Followers Into Revenue</h1>
				<h2>With your own streaming app</h2>

				<p>
					Do you have a lot of followers but not monetizing to your potential? It is difficult to monetize on your social media following.  Our platform gives you endless opportunities to connect with your fans through videos, content and photos on any device.
				</p>

				<div class="profile-preview">
					<div class="profile-preview__photo">
						<a href="https://whitespell.com/team"><img src="img/ariellegruman-320.jpg" alt="Arielle Gruman" /></a>
					</div>
					<div class="profile-preview__content">
						<a href="https://whitespell.com/team"><h6>Arielle Gruman</h6></a>
						<span>
							<a href="tel:+18133893336">+1 813 389 3336</a> | <a href="mailto:arielle@whitespell.com">arielle@whitespell.com</a></span>
					</div>
				</div>

				<div>
				<a href="mailto:arielle@whitespell.com?subject=Video Platform - I want to start monetizing properly!" class="btn btn--alt">
					Get started today!
				</a>
				</div>
				<a href="video-platform-solution.pdf" class="btn">
					Learn More
				</a>
				<a href="#overlay" class="btn" id="js-overlay-trigger">
					View Examples
				</a>
			</section>

			<section class="preview-wrapper">
				<a href="video-platform-solution.pdf">
					<img src="img/ws-video-platform-preview-iphones.png" alt="Whitespell Video Platform Preview" />
				</a>
			</section>

		</div>
	</div>

</div>