//COLORS
$white: #fff;
$dark: #222;
$accent: #2E88BF;
$accent-alt: #2EBF58;


//TYPOGRAPHY
$main-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;

$main-weight: 400;
$bold-weight: 700;
$black-weight: 900;

$line-height: 1.5em;
$heading-line-height: 1.15em;

$size-s: .9em;
$size-m: 16px;
$size-l: 1.12em;

//SPACING
$margin-xs: .3em;
$margin-s: .7em;
$margin-m: 1em;
$margin-l: 2em;
$margin-xl: 3em;
$margin-xxl: 4em;


//BORDERS
$border-style: solid;
$border-width: 1px;
$border-radius: 2px;


//ANIMATIONS
$transition-duration: .3s;
$transition-timing: ease;